@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: dodgerblue;
}
.wrapper {
  width: 414px;
  border-radius: 7px;
  background: #fff;
  overflow: hidden;
}
@media (max-width: 414px) {
  .wrapper {
    height: 100vh;
  }
}
.wrapper header {
  color: dodgerblue;
  font-size: 20px;
  font-weight: 500;
  padding: 16px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
}
header i {
  cursor: pointer;
  font-size: 0px;
  margin-right: 8px;
}
.wrapper.active header i {
  font-size: 18px;
  margin-left: 5px;
}
.wrapper .input-part {
  margin: 20px 25px 30px;
}
.wrapper.active .input-part {
  display: none;
}
.input-part .info-txt {
  display: none;
  font-size: 16px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.info-txt.error {
  display: block;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.info-txt.pending {
  display: block;
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button) {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
}
.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}
.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before {
  content: "or";
  color: #ccc;
  font-size: 18px;
  padding: 0 15px;
  background: #fff;
}
.input-part button {
  color: #fff;
  cursor: pointer;
  background: dodgerblue;
}
.wrapper .weather-part {
  margin: 30px 0 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 414px) {
  .wrapper.active .weather-part {
    height: 100%;
    margin: -50px 0 0 0;
  }
}
.wrapper.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}
.weather-part .temp {
  display: flex;
  font-size: 72px;
  font-weight: 500;
}
.weather-part .temp .num {
  font-weight: 600;
}
.weather-part .temp .deg {
  font-size: 40px;
  margin: 10px 5px 0 0;
  display: block;
}
.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 30px;
}
.location i {
  font-size: 22px;
  margin-right: 5px;
}
.weather-part .bottom-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bfbfbf;
}

.bottom-details .column {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
  justify-content: center;
}
.column i {
  color: dodgerblue;
  font-size: 40px;
}
.column.humidity {
  border-left: 1px solid #bfbfbf;
}
.details {
  margin-left: 5px;
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg {
  margin: 0;
  font-size: 17px;
  pad: 0 2px 0 1px;
}
.details p {
  font-size: 14px;
  margin-top: -6px;
}
.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}
@media (max-width: 414px) {
  .copyright {
    display: flex;
  }
}
